<configuration debug="true" scan="true" scanPeriod="5 seconds">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <jmxConfigurator/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%X{USR-ID}]-${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./log/banking_system.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ./log/archived/banking_system.%d{yyyy-MM-dd}.%i.log.zip
            </fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>20</maxHistory>
            <totalSizeCap>2000MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>[%X{USR-ID}]-${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="CHANNEL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./log/channel/banking_system-channel1.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ./log/channel/archived/banking_system-channel1.%d{yyyy-MM-dd}.%i.log.zip
            </fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>20</maxHistory>
            <totalSizeCap>2000MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>[%X{traceId:-}]-[%X{spanId:-}]-[%X{USR-ID}]-${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="DA_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./log/da/banking_system-da1.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ./log/da/archived/banking_system-da1.%d{yyyy-MM-dd}.%i.log.zip
            </fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>20</maxHistory>
            <totalSizeCap>2000MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>[%X{traceId:-}]-[%X{spanId:-}]-[%X{USR-ID}]-${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <logger name="com.hamze.banking.system.exposed_service.logging" additivity="false">
        <level value="debug"/>
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="FILE"/>-->
    </logger>

    <logger name="com.hamze.banking.system.exposed_service.channel" additivity="false">
        <level value="debug"/>
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="CHANNEL_FILE"/>-->
    </logger>

    <logger name="com.hamze.banking.system.external_service.channel" additivity="false">
        <level value="debug"/>
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="CHANNEL_FILE"/>-->
    </logger>

    <logger name="com.hamze.banking.system.service.external" additivity="false">
        <level value="debug"/>
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="FILE"/>-->
    </logger>

    <logger name="com.hamze" additivity="false">
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="FILE"/>-->
    </logger>

    <logger name="io.lettuce.core" additivity="false">
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="FILE"/>-->
    </logger>

    <logger name="org.springframework.web" additivity="false">
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="FILE"/>-->
    </logger>

    <logger name="com.hamze.banking.system.exposed_service.controller.ManagementController" additivity="false">
        <level value="debug"/>
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="FILE"/>-->
    </logger>

    <logger name="org.hibernate.SQL" additivity="false">
        <level value="debug"/>
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="DA_FILE"/>-->
    </logger>

    <logger name="org.hibernate.orm.jdbc.bind" additivity="false">
        <level value="off"/>
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="DA_FILE"/>-->
    </logger>

    <logger name="org.hibernate.orm.jdbc.extract" additivity="false">
        <level value="off"/>
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="DA_FILE"/>-->
    </logger>

    <logger name="org.hibernate.SQL_SLOW" additivity="false">
        <level value="debug"/>
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="DA_FILE"/>-->
    </logger>

    <logger name="com.hamze.banking.system.exposed_service.controller.GlobalControllerExceptionHandler" additivity="false">
        <level value="error"/>
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="FILE"/>-->
    </logger>


    <logger name="org.springframework.security" additivity="false">
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.camunda.bpm.engine.impl.persistence.entity" additivity="false">
        <level value="off"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.hamze.banking.system.transactions.log" additivity="false">
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="FILE"/>-->
    </root>
</configuration>